<h4 class="section-title fs-5 fw-normal">
            <button
            class="btn btn-link p-0 text-decoration-none fs-5 fw-normal"
            data-bs-toggle="collapse"
            data-bs-target="#azure-section"
            aria-expanded="false"
            aria-controls="azure-section">
            <span>Azure Cloud Services Essentials</span>
          </button>
          </h4>

          <div id="azure-section" class="collapse">

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%201%20COMPUTE%20Az.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Compute
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Azure Virtual Machines (VMs), Azure App Services, Azure Kubernetes Service (AKS), Azure Functions</li>
                <li>Subscriptions, Resource Groups, Regions, Availability Zones, Availability Sets, ARM Templates, Scale Sets, Deployment Slots, Docker Containers, Azure Container Registry (ACR), Durable Functions, Azure Disk, SSH, RDP, IaaS, PaaS, SaaS</li>
              </li>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%202%20NETWORKING.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Networking
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Azure Virtual Networks (VNets), Azure Subnets, Network Security Groups (NSGs), Azure Application Gateway, Azure Load Balancer, Azure Front Door, Azure App Service Environment (ASE)</li>
                <li>Network Interfaces, CIDR Notation, Network Peering, Azure Service Tag, TCP Protocol, Network Watcher, JIT Access, VPN, Jump Box, Bastion, Service Endpoint, Private Link, DNS, App Service VNET Integration, IPv4, IPv6, OSI Reference Model, Security Group Rules, WAF, Backend Pool, Affinity, Stateless Architecture, Hub and Spoke, Private Endpoint, Private vs Public Endpoints</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%203%20DATA%20Azure.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Data
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Azure SQL Database, SQL Elastic Pool, SQL Managed Instance, Azure Cosmos DB, Azure Database for MySQL, Azure Database for PostgreSQL, Azure Blob Storage, Azure Redis</li>
                <li>DTU vs vCore, SQL vs MySQL, SQL vs NoSQL Data Store, Cosmos DB Consistency Levels, Cosmos DB Container, Azure Blob Storage Redundancy Options, Azure Blob Storage Hot, Cool, Archive Tiers, Storage Account Lifecycle Management, Azure Blob Access Keys, Azure Blob Shared Access Signatures, CDN Storage Account Connection, Storage Explorer and Storage Browser, App Service VNET Integration, Azure CDN, ASE App Service Environment, IPv4 vs IPv6, DNS</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%204%20MESSAGING.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Messaging
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Azure Storage Queue, Azure Event Grid, Azure Service Bus, Azure Event Hub</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%205%20IDENTITY%20A.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                IDENTITY
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Azure Active Directory (Azure AD) / Microsoft Entra ID, Azure AD B2C, Azure AD Connect</li>
                <li>Azure AD Licenses, Users, Groups, Roles, Tenant/Directory, Azure AD Sign-in Logs, MFA, TFA, Azure AD Security Defaults, Role Based Access Control (RBAC), Roles in Azure, Access Control (IAM), Managed Identities, OAuth2, OAuth2 Flow, JWT</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%206%20MONITORING.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Monitoring
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Monitoring Section in each Azure Resource (Insights, Alerts, Metrics, Logs), Metrics Customize and Configure Options, Dashboard, Alerts, Logs, Insights, Action Group for Alerts, Log Analytics Workspace, Activity Log for Azure Resources, Diagnostic Setting (Activity Log), Kusto Query Language (KQL), App Service Logs and Log Stream, Diagnostic Settings, Azure Monitor, Application Insights, Resource Tags, Resource Graph Explorer</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%207%20SECURITY%20V.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Security
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>VM Security Best Practises, Network Security Best Practises, Database Security Best Practices, App Service Security Best Practices, Use Key Vault, Defender for Cloud (formerly Security Center)</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%208%20DISASTER%20R.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Disaster Recovery and Managing Costs
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is DR and which Apps in Azure require It?, Hot/Cold DR, RPO, RTO, How do We Implement DR?, DR of Data, DR of Compute, Routing in DR, Traffic Manager, Front Door</li>
                <li>Azure Cost Management</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
                        <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/azure/SECTION%209%20POLICY%20ARC.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Policy, Architecting, Migrations, and Advanced Series
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Azure Policy, Custom Policies</li>
                <li>Architecting: Choosing a Compute Platform, Choosing a Data Platform, Choosing a Messaging Platform, Implementing Security, Implementing Logging and Monitoring, Azure Architecture Center</li>
                <li>The Migration Process</li>
                <li>Advanced Services: IoT Hub, Notification Hub, Cognitive Services for APIs</li>
              </ul>
            </div>
          </div>