<h4 class="section-title fs-5 fw-normal">
            <button
              class="btn btn-link p-0 text-decoration-none fs-5 fw-normal collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#c-sharp-section"
              aria-expanded="false"
              aria-controls="c-sharp-section"
            >
            <span>C# Theory</span>
          </button>
          </h4>

          <div id="c-sharp-section" class="collapse">

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%201%20BASIC%20CONC%20(1).mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Basic Concepts
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is C#?, What are the main features of C#?, What is managed code?, What is unmanaged code?, Difference between value types and reference types, What is boxing and unboxing?, Difference between abstract class and interface, What is an enum?, What is a struct? </li>
                <li>What is inheritance?, What is polymorphism?, What is encapsulation?, What is abstraction?, What is exception handling in C#?, What is a namespace?, What is a constructor?, What is a destructor (finalizer)?, What is the static keyword?</li>
                <li>Difference between method overloading and overriding, What is an interface?, What is a delegate?, What is an event?, What is a property in C#?, What is reflection?, What is garbage collection?, What is multithreading?, What is a thread?, What is a task?, What is async and await?</li>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%202%20KEYWORDS%201.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Keywords
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is a let clause?, Explain when to use Finalize and Dispose, Difference between constant and readonly variables, Difference between Hashtable and ArrayList, Difference between out and ref parameters, Difference between Array and ArrayList, Difference between System.String and System.Text.StringBuilder</li>
                <li>Difference between dynamic and object, What are signed and unsigned types?, What is the use of pointers in C#?, Finalizers vs Finalization Queue, List down the 10 most common exceptions in .NET, Difference between is and as operators, What is the volatile keyword used for?, What is the yield keyword used for?, Difference between GetHashCode and Equals</li>
                <li>What’s a local variable?, What’s the use of the using statement in C#?, Finalize blocks s finalize, What are the StreamReader and StreamWriter classes?, Define an escape sequence, Give examples of null coalescing expressions in C#, Methods are often called subroutines, What are the signed and unsigned types (numeric ranges)?, Keywords: implicit, explicit, extern, stackalloc, checked</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%203%20TRICKY%20QUE.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Tricky Questions
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Difference between == and Equals() in C#, Can you change the value of a variable while debugging an application?, Is it possible to override a method in the same class?, Why should you override the ToString() method?, Can multiple catch blocks be executed?, Who can be members of a namespace?, Are interface methods abstract and virtual by default?, How do you resolve interface name conflicts?, How do you convert a base type to a derived type?</li>
                <li> What exception is thrown when casting fails?, Can you get an array index using foreach?, What happens if you use break inside nested loops?, What is an indexer in C#?, Difference between upcasting and downcasting, Can readonly variables be modified at runtime?, Difference between const and readonly</li>
                <li>What happens if an exception is thrown in a finally block?, What is boxing and unboxing?, Difference between ref and out parameters, What happens when an exception is not caught?, Can constructors be private and why?, Difference between throw and throw ex, Can static constructors have parameters?</li>
                <li>Difference between early binding and late binding, Can an interface contain fields?, Difference between abstract class and interface (edge cases), Can a class inherit from multiple classes?, Why are some behaviors considered tricky in C# interviews?</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%204%20VARIABLES.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Variables, Interfaces and Collections
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Difference between constant and read-only variables, Difference between a Hashtable and an ArrayList, Difference between out and ref parameters, Difference between ArrayList and Array, Differences between System.String and System.Text.StringBuilder, Differences between System.Array.CopyTo() and System.Array.Clone()</li>
                <li>Difference between SortedList and SortedDictionary, What are the main System.IO methods to create, delete, close and open files?, What is IEnumerable and how is it different from IList and IQueryable?, What are the main methods in a Stack and a Queue?, Why do we sometimes use List and when instead do we use IList?, Difference between int.Parse and int.TryParse methods, Difference between FirstOrDefault(), First(), Single(), SingleOrDefault()</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%205%20ADVANCED%20C.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Advanced Concepts
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is a delegate?, What is a multicast delegate?, What are anonymous types?, What is recursion?, What is multithreading in C#?, How do you manage unmanaged resources?, What is an object pool in .NET?, What are C# attributes and why are they used?, What is a lambda expression?, What is an anonymous method and how does it differ from a lambda?</li>
                <li>What are jagged arrays?, Difference between rectangular and jagged arrays, Difference between implicit and explicit casting, What are expression trees?, What are weak references and when should they be used?, What is ArraySegment and why is it useful?</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%206%20ADVANCED%20C.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Advanced Concepts II
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>How do you make code thread safe?, How would you cancel an async operation in C#?, Difference between async calls and parallel calls, Difference between ManualResetEvent and AutoResetEvent, What is a race condition in C#?, How does C# manage memory automatically?</li>
                <li>How do you use reflection to inspect an object’s properties and methods?, What are covariance and contravariance in C#?, How would you force garbage collection and why would you do that?, What files get generated in the Debug folder when you compile a C# application?, What are weak references and when should they be used?, Explain memory-efficient array handling using ArraySegment, What is ArraySegment and why is it useful?</li>
                <li>What is the Roslyn compiler platform and how does it relate to C#?, What is the immutability of strings in C#?, What are Func and Action delegates?, Difference between singlecast and multicast delegates, What are generic delegates in C#?, How does garbage collection work internally in .NET?, What is ternary search?</li>
                <li>How does stackalloc work in C#?, What are unsafe blocks and when should they be used?, How do you optimize memory usage in C# applications?, What is the difference between IDisposable and finalizers?, What is the finalization queue in .NET?, Why should finalizers be avoided when possible?, What are common pitfalls in multithreaded C# applications?, Why are some advanced runtime topics often ignored in interviews?</li>
              </ul>
            </div>
          </div>
          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/c-sharp/SECTION%207%20EXERCISES.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Exercises
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>How can you sort array elements in descending order?, How do you reverse a string in C#?, How do you reverse the order of given words in C#?, How do you find if a string is a palindrome?, How do you find the substring of a string?, How do you find if a positive integer is prime?, Write a program to find the sum of digits of a positive integer</li>
                <li>Write a program to check whether a number is not divisible by 3 or 7, Write a program to count the occurrence of each character in a string, Write a program to find the factorial of a given number, Write a program to find the Fibonacci series, Write a program to swap two numbers without using a third variable, Write a program to find the largest number among three numbers, Write a program to check whether a given number is even or odd.</li>
              </ul>
            </div>
          </div>