      <h4 class="section-title fs-5 fw-normal">
        <button
          class="btn btn-link p-0 text-decoration-none fs-5 fw-normal collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#design-patterns-section"
          aria-expanded="false"
          aria-controls="design-patterns-section"
        >
        <span>Design Patterns</span>
      </button>
      </h4>

      <div id="design-patterns-section" class="collapse">

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/SINGLETON%20The%20Single.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Singleton
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Singleton.cs" class="btn btn-action">
            Singleton Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/FACTORY%20METHOD%20The%20F.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Factory Method
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/FactoryMethod.cs" class="btn btn-action">
            Factory Method Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/OBSERVER%20The%20Observe.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Observer
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Observer.cs" class="btn btn-action">
            Observer Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/STRATEGY%20The%20Strateg.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Strategy
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Strategy.cs" class="btn btn-action">
            Strategy Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/TEMPLATE%20METHOD%20The.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Template Method
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/TemplateMethod.cs" class="btn btn-action">
            Template Method Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/ADAPTER%20The%20Adapter.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Adapter
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Adapter.cs" class="btn btn-action">
            Adapter Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/DECORATOR%20The%20Decora.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Decorator
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Decorator.cs" class="btn btn-action">
            Decorator Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/COMMAND%20The%20Command.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Command
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Command.cs" class="btn btn-action">
            Command Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/PROXY%20The%20Proxy%20desi.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Proxy
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Proxy.cs" class="btn btn-action">
            Proxy Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/ITERATOR%20The%20Iterato.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Iterator
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Iterator.cs" class="btn btn-action">
            Iterator Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/COMPOSITE%20The%20Compos.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Composite
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Composite.cs" class="btn btn-action">
            Composite Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/FACADE%20The%20Facade%20de.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Facade
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Facade.cs" class="btn btn-action">
            Facade Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/STATE%20The%20State%20desi.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            State
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/State.cs" class="btn btn-action">
            State Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/BRIDGE%20The%20Bridge%20de.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Bridge
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Bridge.cs" class="btn btn-action">
            Bridge Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/ABSTRACT%20FACTORY%20The.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Abstract Factory
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/AbstractFactory.cs" class="btn btn-action">
            Abstract Factory Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/BUILDER%20The%20Builder.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Builder
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Builder.cs" class="btn btn-action">
            Builder Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/PROTOTYPE%20The%20Protot.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Prototype
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Prototype.cs" class="btn btn-action">
            Prototype Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/MEDIATOR%20The%20Mediato.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Mediator
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Mediator.cs" class="btn btn-action">
            Mediator Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/VISITOR%20The%20Visitor.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Visitor
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Visitor.cs" class="btn btn-action">
            Visitor Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/CHAIN%20OF%20RESPONSIBIL.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Chain of Responsibility
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/ChainOfResponsibility.cs" class="btn btn-action">
            Chain of Responsibility Example
            </a>
          </p>
        </div>

        <!-- COL 5: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/FLYWEIGHT%20The%20Flywei.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 6: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Flyweight
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Flyweight.cs" class="btn btn-action">
            Flyweight Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/MEMENTO%20The%20Memento.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Memento
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Memento.cs" class="btn btn-action">
            Memento Example
            </a>
          </p>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/design-patterns/INTERPRETER%20The%20Inte.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-3">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Interpreter
          </p>
          <p class="text-center">
            <a href="./cs/design-patterns/Interpreter.cs" class="btn btn-action">
            Interpreter Example
            </a>
          </p>
        </div>
      </div>
