<h4 class="section-title fs-5 fw-normal">
            <button
              class="btn btn-link p-0 text-decoration-none fs-5 fw-normal collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#oop-section"
              aria-expanded="false"
              aria-controls="oop-section"
            >
            <span>OBJECT ORIENTED PROGRAMMING (OOP) THEORY</span>
          </button>
          </h4>

          <div id="oop-section" class="collapse">

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/oop/SECTION%201%20DEFINITION.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                DEFINITIONS
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Advantages of OOP, Difference between imperative programming paradigm (procedural, OOP, parallel) and declarative programming paradigm (logical, functional, database), What is an object? What is a class?, Do classes consume memory?, Explain Inheritance, Explain Polymorphism, Explain Encapsulation, Explain Abstraction</li>
                <li>Explain each of the SOLID principles, What is the principle of dependency injection?, Explain the three types of design patterns and their names, What is the difference between design patterns and architectural patterns?, What is the significance of cohesion in OOP?, What differences exist between coupling and cohesion in C Sharp?, What is loose coupling?</li>
                <li>How would you explain monads to a non-programmer? (Functional Programming), Difference between procedural and object oriented programming, What is the difference between association, aggregation and composition?, Which is best composition over inheritance, or inheritance over composition?</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/oop/SECTION%202%20INHERITANC.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Inheritance and Encapsulation
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is the base keyword?, What is the difference between “this” and base in C Sharp?, How would you call a base class constructor from a derived class?, Explain characteristics of a sealed class?, Can you implement multiple inheritance on C Sharp?, Are private class members inherited to the derived class?, Can you inherit Enum in C Sharp?</li>
                <li>Which are access specifiers/access modifiers?, Is it possible to restrict object creation in C Sharp?, What is data hiding in C Sharp?, Can a sealed class have non sealed methods or properties?, Differences between abstraction and encapsulation.</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/oop/SECTION%203%20INTERFACES.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Interfaces and Abstract Classes
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Difference between interface and abstract class, What is an interface? Why do we use it?, What is implicit and explict interface implementation?, Is it possible to achieve method extension using Interface? How?, What happens if you have conflicting method names for the inherited interfaces?, Can you specify the accessibility modifier inside an interface?</li>
                <li> What is an abstract class? Why do we use it?, Can an abstract class have constructors in C Sharp?, Which member types can you define in an abstract class?, Can an abstract class be sealed in C Sharp?, Can you declare abstract methods as private in C Sharp?, Can an abstract class have static methods in C Sharp?, Can an abstract class have non abstract methods?, Do abstract classes support multiple inheritance?, Explain the diamond problem in C Sharp?</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/oop/SECTION%204%20POLYMORPHI.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Polymorphism and Constructors
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Difference between virtual, override and new keywords in C Sharp, Please explain method hiding (new keyword), What is operator overloading?, Method overloading vs method overriding?, Is method hiding and method shadowing the same thing?, Compile time polimorphism (static or early binding) and runtime polymorphism (dyanmic or late binding). Differences, How would you prevent a class from overriding in C Sharp?, Can you use the new keyword (method hiding or shadowing) on a derived class from a sealed class?</li>
                <li>Basic concepts about constructors in C Sharp, What is a private constructor? What is its use?, Can you create an object of a class with a private constructor in C Sharp?, What is a static constructor? What is its use?, What is a destructor?, How do you call a base class constructor from a derived class?, What is constructor chaining?, Can a class inherit the constructor of its base class?, What is a copy constructor?, Remind me what a deep copy is, What is a shallow copy in C Sharp?</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center mb-2 mb-md-0">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/oop/SECTION%205%20STATIC%20KEY.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Static Keyword and Miscellaneous Questions
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>Difference between constant, read-only, static, and static read-only, Can “this” be used within a static method?, What is the difference between a static class and a singleton instance?</li>
                <li>Can a method return multiple values at a time?, Can you serialize a Hashtable?, Why is Singleton considered an anti-pattern?, What is the use of the yield keyword in C Sharp?, How do you catch mutliple exceptions in C Sharp?, What is a partial class?</li>
                <li>Can you explain the concept of aggregation in C Sharp?, Difference between early and late binding in C Sharp, When would you use a struct over a class?, When would you use a record over a class?, How would you call a getter or setter in C Sharp?, Explain how nested classes work in C Sharp?, Difference between property and field in C Sharp?</li>
              </ul>
            </div>

          </div>