      <h4 class="section-title fs-5 fw-normal">
        <button
          class="btn btn-link p-0 text-decoration-none fs-5 fw-normal"
          data-bs-toggle="collapse"
          data-bs-target="#software-architecture-section"
          aria-expanded="true"
          aria-controls="software-architecture-section"
        >
          <span>Software Architecture</span>
        </button>
      </h4>

      <div id="software-architecture-section" class="collapse show">

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Introduction to Software Architecture
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Software Architecture Definition and Scope</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%202%20SYSTEM%20REQ.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            System Requirements and Architectural Drivers
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>System Requirements</li>
            <li>Features, Attributes, Constraints</li>
            <li>Capturing Feature Requirements</li>
            <li>System Quality Attributes</li>
            <li>System Constraints in Software Architecture</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%203%20KEY%20QUALIT.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Key Quality Attributes in Large Scale Systems
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Performance</li>
            <li>Availability</li>
            <li>Scalability</li>
            <li>Fault Tolerance and High Availability</li>
            <li>Service Level Metrics: SLA, SLO, SLI</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%204%20API%20DESIGN.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            API Design
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Types of APIs</li>
            <li>Core API Design Principles</li>
            <li>Remote Procedure Calls (RPCs)</li>
            <li>RESTful APIs</li>
            <li>REST API Quality Attributes</li>
            <li>Resource Identification and Naming</li>
            <li>Defining a REST API Step by Step</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%205%20LARGE%20SCAL.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Large Scale Systems Architectural Building Blocks
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Load Balancers</li>
            <li>Message Brokers</li>
            <li>API Gateways</li>
            <li>Content Delivery Networks (CDNs)</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%206%20DATA%20STORA.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Data Storage at a Global Scale
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Relational Databases</li>
            <li>Non-relational (NoSQL) Databases</li>
            <li>Database Indexing</li>
            <li>Database Replication</li>
            <li>Database Partitioning (Sharding)</li>
            <li>The CAP Theorem</li>
            <li>Unstructured Data</li>
            <li>Distributed File Systems</li>
            <li>Object Stores (Blob Storage)</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%207%20SOFTWARE%20A.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Software Architecture Patterns and Styles
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Principles Motivating the Use of Patterns and Styles</li>
            <li>Multi-Tier Architecture</li>
            <li>Three-Tier Architecture</li>
            <li>Other Multi-Tier Architectures</li>
            <li>Monolithic vs Microservices Architectures</li>
            <li>Microservices Architecture</li>
            <li>Event-Driven Architecture</li>
            <li>Event-Sourcing Pattern</li>
            <li>Command Query Responsibility Segregation (CQRS) Pattern</li>

          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%208%20STRATEGIES.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Strategies for Processing Infinite Streams of Events
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Tumbling Window Strategy</li>
            <li>Hopping Window Strategy</li>
            <li>Sliding Window Strategy</li>
            <li>Session Window Strategy</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
                    <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%209%20BIG%20DATA%20A.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Big Data Architecture Patterns
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Characteristics of Big Data</li>
            <li>Big Data Processing Approaches</li>
            <li>Batch Processing Model</li>
            <li>Real-Time Processing Model</li>
            <li>Challenges in Choosing a Processing Strategy</li>
            <li>Lambda Architecture</li>

          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
                    <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/software-architecture/SECTION%2010%20SOFTWARE%20.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Software Architecture and System Design Practise
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Highly Scalable Public Discussion Forum Design</li>
            <li>Scalable E-Commerce Marketplace Design</li>
          </ul>
        </div>
      </div>
