<h4 class="section-title fs-5 fw-normal">
            <button
              class="btn btn-link p-0 text-decoration-none fs-5 fw-normal collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#sql-section"
              aria-expanded="false"
              aria-controls="sql-section"
            >
            <span>SQL Theory</span>
          </button>
          </h4>

          <div id="sql-section" class="collapse">

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%201%20BASIC%20CONC%20(2).mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Basic Concepts
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What’s a database?, What’s a relational database?, What’s a RDBMS?, What’s the difference between SQL and MySQL?, What’s the command to get the version of SQL Server?, What’s an entity in a database?, What are attributes and what types are there?, What’s collation?, What is a sub query and what are its properties?, Can you provide examples of subqueries?, What types of subqueries exist in SQL Server?</li>
                <li>Difference between primary key and unique key?, Can you provide an example of a "customer" table with a primary key and a unique key that illustrates their core difference, How can you handle exceptions in SQL Server Programming?, What are defaults in SQL Server?, What are default constraints in SQL Server, Where are SQL Server user names and passwords stored?</li>
                <li>What’s the difference between varchar and nvarchar types?, Difference between local and global variables?, What are the different types of backup used in SQL Server?, What’s SQL injection?, Give an example, How can you protect yourself from SQL injection?, How can you delete duplicate rows in SQL Server?, What are user defined functions?, What do we mean by XML Datatype?, What do we mean by scheduled tasks in SQL Server?</li>
              </li>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%202%20KEYWORDS%20w.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Keywords
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is CHECK constraint?, What is COALESCE in SQL Server, What is the purpose of FLOOR function, What is the use of the SIGN function, What is an IDENTITY column in insert statements?, What’s the difference between UNION and UNION ALL, How can we get a count of the number of records in a table?, What is the use of SET NOCOUNT ON/OFF statement?, What’s the UPDATE_STATISTICS command?</li>
                <li>What’s the difference between SUBSTR and CHARINDEX in SQL Server?, What is ISNULL() operator?, What’s the use of FOR clause?, Difference between DELETE and TRUNCATE, Difference between HAVING and WHERE clauses?, Difference between EXCEPT and INTERSECT commands?, What’s the difference between GETDATE and SYSDATETIME?, Explain the LIKE operator?, What is FILESTREAM and when can you use it?, How can we use SCOPE_IDENTITY function?, What’s the use of WITH TIES?, What is SSMA in SQL Server?, Which command is used for user defined error messages?</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%203%20THEORY%20Wha.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Theory
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What types of relationships exist between tables?, What are database normalization and denormalization?, What is referential integrity?, What is the 1NF?, What is the 2NF?, What is the 3NF?, What is the Boyce Codd normal form or 4NF?, What are the ACID properties?, What do they indicate?</li>
                <li>What are Aggregate, Analytics, Ranking, Rowset and Scalar functions?, What’s the use of the database engine in SQL Server?, What is CDC?, What are Select queries, insert results, insert values, update query, delete query and make table query?</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%204%20INDEXES%20AN.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Indexes and Joins
              </p>

              <ul class="lesson-takeaways ps-3">
                <li> What is an index?, What is the difference between an index and a primary key?, Is it possible to change the index of a primary key in a table?, What is the maximum number of indexes per table?, What’s a Filtered Index?, Difference between CLUSTERED and NON CLUSTERED INDEX?, Difference between ORDER BY and CLUSTERED index?</li>
                <li>What is a JOIN and what types of join exist?, What are nested loop joins, merge joins, hash joins, and adaptive joins?</li>
              </ul>
            </div>
          </div>

          <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%205%20TABLES%20AND.mp3"
                type="audio/mpeg">
              </audio>

            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Tables and Temporary Tables
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>How can you select data from a SQL table?, How do you delete a table in SQL Server Mangement Studio?, How can you copy data from one table to another?, What’s a Common Table Expression CTE?, What are Magic Tables in SQL Server?, What’s TABLESAMPLE?, Difference between local and global temporary tables, How are temporarary tables represented and what is their scope?, Difference between table variable and temporary variable?, Which is faster?, Difference between a table variable and a common table expression CTE?</li>
              </ul>
            </div>

           <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%206%20STORED%20PRO.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Stored Procedures and Views
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What’s a stored procedure?, Which SQL Server table is used to hold the stored procedure scripts?, What’s the use of @@SPID?, What’s the difference between a stored procedure and dynamic SQL?, Whats the difference between stored procedures and functions?, What are the advantages of stored procedures, What is a recursive stored procedure?, What’s the use of an extended stored procedure?, Please give an example of an extended stored procedure</li>
                <li> What’s the use of Views in Sql Server?, Difference between system defined views and user defined views., What’s the difference between a View and a stored procedure?</li>
              </ul>
            </div>
          </div>

                    <div class="row align-items-start mb-4">

            <!-- COL 1: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%207%20TRIGGERS%20A.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 2: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Triggers and Transactions
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What’s a Trigger?, What are the types of Triggers?, What’s the query to get the list of Triggers in a DB?, What’s the difference between COMMIT and ROLLBACK?, Difference between triggers and event notifications, What’s a logon trigger and when do they get triggered?</li>
                <li>What is a transaction and what are the existing transaction modes?, What’s a transaction log?, Example of using transaction log in SQL Server</li>
              </ul>
            </div>

            <!-- COL 3: thumbnail -->
            <div class="col-md-1 d-flex justify-content-center">
              <audio controls preload="none" style="width:100%;max-width:140px;">
              <source
                src="https://pub-9a672a30aadd4f359a1bfb75a41aff1f.r2.dev/audios/sql/SECTION%208%20ADVANCED%20C.mp3"
                type="audio/mpeg">
              </audio>
            </div>

            <!-- COL 4: description -->
            <div class="col-md-5">
              <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
                Advanced Concepts
              </p>

              <ul class="lesson-takeaways ps-3">
                <li>What is SQL Profiler?, What are scheduled tasks in SQL Server, Can we check locks in a database?, How?, What is Bulkcopy in SQL?, What is Database mirroring and what are its benefits?, What are cursors and what are their types?, </li>
                <li>What’s a Sparse column?, What are shared, exclusive and updated locks?, Difference between derived attribue, derived persistent attribute and computed attribute?, How can deadlocks be resolved in SQL Server?</li>
              </ul>
            </div>
          </div>
