      <h4 class="section-title fs-5 fw-normal">
        <button
          class="btn btn-link p-0 text-decoration-none fs-5 fw-normal"
          data-bs-toggle="collapse"
          data-bs-target="#software-architecture-section"
          aria-expanded="true"
          aria-controls="software-architecture-section"
        >
          <span>System Design</span>
        </button>
      </h4>

      <div id="system-design-section" class="collapse show">

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Foundations of System Design
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Client and Server</li>
            <li>Data Store: Database and Object Storage</li>
            <li>Vertical and Horizontal Scaling</li>
            <li>Scalability</li>
            <li>Availability</li>
            <li>Consistency</li>
            <li>Fault Tolerance - No Single Point of Failure</li>
            <li>CAP Theorem</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            The System Design Process and Framework
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Defining System Requirements</li>
            <li>Capacity Estimation</li>
            <li>API Design</li>
            <li>High Level Design</li>
            <li>Deep Dive into System Design Components</li>
            <li>Capacity Estimation</li>
            <li>API</li>
          </ul>

          <p class="text-center">
            <a href="./pdf/System-Design-02b-Airbnb-Capacity-Estimation-Example.pdf" class="btn btn-action">
            Capacity Estimation Example
            </a>
          </p>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Core Infrastructure and Building Blocks
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Load Balancer</li>
            <li>API Gateway</li>
            <li>Cache</li>
            <li>Read Caching Strategies</li>
            <li>Write Caching Strategies</li>
            <li>Content Delivery Network (CDN)</li>
            <li>Message Queues</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>
        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Data Storage Architecture
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>SQL / Relational Databases</li>
            <li>NoSQL / Non-relational Databases</li>
            <li>Choosing SQL vs NoSQL</li>
            <li>Database Sharding</li>
            <li>Database Replication</li>
            <li>Database Indexing</li>
            <li>Hashing and Consistent Hashing</li>
            <li>Consistent Hashing</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Media Systems and Object Storage Pipelines
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Pre-Signed Urls</li>
            <li>Media Processing</li>
            <li>HLS Encoding</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Concurrency Control and Protection Mechanisms
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Why Do We Need a Rate Limiter?</li>
            <li>Concurrency Booking and Optimistic and Pessimistic Locking</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Distributed Logging and Observability Architecture
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>What is Kafka?</li>
            <li>Event Streaming with Kafka</li>
            <li>What is Flink?</li>
            <li>Flink Data Processing</li>
            <li>Storage Backends for Logs</li>
            <li>Query and Dashboard Tools</li>
            <li>Serialization with Protobuf</li>
            <li>Logging and Monitoring</li>
          </ul>
        </div>

        <!-- COL 3: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
          <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 4: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Networking Fundamentals for System Design
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>IP Address</li>
            <li>Domain Name System (DNS)</li>
            <li>Protocols</li>
            <li>TCP</li>
            <li>UDP</li>
            <li>HTTP</li>
            <li>Rest APIs</li>
            <li>Websockets</li>
            <li>Forward and Reverse Proxies</li>
            <li>GraphQL</li>
            <li>gRPC</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-start mb-4">

        <!-- COL 1: thumbnail -->
        <div class="col-md-1 d-flex justify-content-center">
                    <audio controls preload="none" style="width:100%;max-width:140px;">
          <source
            src="https://tigerbluejay.github.io/audios/system-design/SECTION%201%20INTRODUCTI.mp3"
            type="audio/mpeg">
          </audio>

        </div>

        <!-- COL 2: description -->
        <div class="col-md-5">
          <p class="text-muted mb-2 section-title fs-6 fw-normal text-start">
            Architectural Styles
          </p>

          <ul class="lesson-takeaways ps-3">
            <li>Monolith vs Microservices</li>
            <li>Cloud Computing</li>
          </ul>
        </div>

      </div>
